.container{
    padding: 20px;
    display: flex;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--bgsoft);
    gap: 20px;
    cursor: pointer;
}
.container:hover{
    background-color: #2e274a;
}
.texts{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.number{
    font-size: 24px;
    font-weight: 500;
}
.details{
    font-size: 14px;
    font-weight: 300;
}
.positive{
    color: lime;
}
.negative{
    color: red;
}